<html>
    <head>
        <title>
            Social Distancing checker Live Video feed
        </title>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'webpage.js') }}" ></script>
    </head>
    
    <body>
     <h1>Social Distance Indicator</h1>
     <form action="/result">
        
    <button id="btn">Submit</button>
    </form>
    <!-- <img style="-webkit-user-select: none;" src="http://127.0.0.1:5000/result" width="1037" height="583">    -->
    </body>
</html>